<% include header %>
<ul class="archive">
    <% var lastday = 0 %>
    <% posts.forEach(function(post,index){ %>
    <!--只有与日期不一样的才能添加  大标题日期，即大标题只出现一次  可试着去掉 if，即可看出不同-->

        <% if(lastday != post.time.day ) {%>

        <li><h3><%= post.time.day %></h3></li>

        <% lastday = post.time.day }%>

         <li><time> 日期： <%= post.time.minute %></time>
            作者：<a href="/u/<%= post.name %>"><%= post.name %></a>
            标题：<a href="/u/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>"><%= post.title %></a>
        </li>

    <% }) %>
</ul>
<% include footer %>